@import "tailwindcss";

body {
  background: #F8FAFC;
  margin: 0;
  font-family: Inter, sans-serif;
}

#root {
  min-height: 100vh;
}

.app-container {
  background: #F8FAFC;
  min-height: 100vh;
  padding: 0 24px 24px;
}
